<div class="page-wrapper auth">
  <div class="page-inner bg-brand-gradient">
    <div class="page-content-wrapper bg-transparent m-0" style="padding-left: 0;">
      <div class="height-10 w-100 shadow-lg px-4 bg-brand-gradient">
        <div class="d-flex align-items-center container p-0">

          <div class="page-logo width-mobile-auto m-0 align-items-center justify-content-center p-0 bg-transparent bg-img-none shadow-0 height-9 border-0">
            <a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
              <img src="assets/img/logo.png" alt="Scintra Logo" aria-roledescription="logo">
              <span class="page-logo-text mr-1">Scintra</span>
            </a>
          </div>
          <!--<span class="text-white opacity-50 ml-auto mr-2 hidden-sm-down">
						Already a member?
					</span>
          <a href="page_login.html" class="btn-link text-white ml-auto ml-sm-0">
            Secure Login
          </a>-->
        </div>
      </div>
      <div class="flex-1" style="background: url(assets/img/svg/pattern-1.svg) no-repeat center bottom fixed; background-size: cover;">
        <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
          <div class="row">
            <div class="col-xl-12">
              <h2 class="fs-xxl fw-500 mt-4 text-white text-center">
                ¿Perdiste tu contraseña?
                <small class="h3 fw-300 mt-3 mb-5 text-white opacity-60 hidden-sm-down">
                  No hay problema, a los mejores nos pasa, ingresa el correo de cuenta Scintra y te ayudaremos a recuperarla
                </small>
              </h2>
            </div>

            <div class="col-xl-6 ml-auto mr-auto">
              <div class="card p-4 rounded-plus bg-faded">

                <form *ngIf="!emailSent" id="js-login" [formGroup]="forgotPasswdForm" (ngSubmit)="forgotPassword()">

                <div class="form-group">
                  <div *ngIf="serverError" class="invalid-feedback">
                    Se ha producido un error al cambiar su contraseña, intente nuevamente en unos minutos. Si el problema persiste contacte a soporte.
                  </div>
                  <label class="form-label" for="lostaccount">Correo</label>

                  <input type="email" name="email" id="lostaccount" class="form-control" formControlName="email"  placeholder="Correo de recuperación" required>
                  <!--<div class="help-block">Te enviaremos instrucciones a tu correo</div>-->
                    <div *ngIf="email.invalid && (email.dirty || email.touched) && email.errors?.['required']" class="invalid-feedback">
                      Debe ingresar un correo.
                    </div>
                    <div *ngIf="email.invalid && (email.dirty || email.touched) && email.errors?.['email']" class="invalid-feedback">
                      Debe ingresar un correo válido.
                    </div>
                    <div *ngIf="!accountExists" class="invalid-feedback">
                      No hay ninguna cuenta asociada a este correo, verifícalo.
                    </div>

                </div>
                <div class="row no-gutters">
                  <div class="col-md-4 ml-auto text-right">
                    <button id="js-login-btn" type="submit" class="btn btn-danger">Enviar</button>
                  </div>
                </div>
                </form>
                <div *ngIf="emailSent" class="fs-xxl fw-500 mt-4 text-center">
                  Se ha enviado un correo a tu cuenta con las instrucciones para continuar.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="position-absolute pos-bottom pos-left pos-right p-3 text-center text-white">
          2022 © Scintra por&nbsp;<a href='https://www.habilisoluciones.com' class='text-white opacity-40 fw-500' title="Habilis" target='_blank'>Habilis</a>
        </div>
      </div>
    </div>
  </div>
</div>
