<div class="panel-hdr">
  <div>
    <h2>Carteles&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-success btn-icon rounded waves-effect waves-themed" data-toggle="modal"
              data-target="#new-cartel-modal" (click)="openNewCartelModal()">
        <i class="fal fa-plus"></i>
      </button>
    </h2>
  </div>
</div>
<table class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline border-table" role="grid"
       aria-describedby="dt-basic-example_info" >
  <thead class="bg-primary-600 ">
  <tr role="row">
    <th class="border-tl"><i class="fa fa-text-height"></i>&nbsp;&nbsp;Tipo</th>
    <th><i class="fa fa-text-height"></i>&nbsp;&nbsp;Título</th>
    <th><i class="fa fa-users"></i>&nbsp;&nbsp;Estudiantes</th>
    <th class="border-tr"><i class="fa fa-clone"></i>&nbsp;&nbsp;Acciones</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngIf="carteles.length>0">
    <tr *ngFor="let c of carteles | paginate : {
                    itemsPerPage: pageSize,
                    currentPage: pageNumber,
                    totalItems: totalItems
                    }">
      <td>
        <ng-container *ngFor="let ct of cartelesTipos">
          <ng-container *ngIf="c.id_tipo_trabajo==ct.id">
            {{ct.nombre}}
          </ng-container>
        </ng-container>
      </td>
      <td>
        <ng-container *ngFor="let cm of cartelesMetadatos">
          <ng-container *ngIf="c.id==cm.id_trabajo">
            {{cm.titulo}}
          </ng-container>
        </ng-container>
      </td>
      <td><label [innerHTML]="getCommaSeparatedAuthorListHtml(c.id)"></label></td>
      <td>
        <button type="button" class="btn btn-primary btn-icon" data-toggle="modal"
                data-target="#view-cartel-modal"
                (click)="openViewCartelModal(c)"><i class="fa fa-eye"></i>
        </button>&nbsp;
        <button type="button" class="btn btn-success btn-icon waves-effect waves-themed" data-toggle="modal"
                data-target="#update-cartel-modal"
                (click)="openUpdateCartelModal(c)"><i class="fas fa-edit"></i>
        </button>&nbsp;
        <button type="button" class="btn btn-danger btn-icon"
                (click)="deleteCartel(c.id)"><i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </ng-container>
  <ng-container *ngIf="carteles.length==0">
    <tr class="odd"><td colspan="4" class="dataTables_empty" style="color:#0a70bd;font-size:20px">No hay carteles que mostrar</td></tr>
  </ng-container>
  </tbody>
</table>

<div class="row" *ngIf="carteles.length>0">
  <div class="col-6">
    <div class="dataTables_info" id="dt-basic-example_info" role="status" aria-live="polite" style="padding-left:10px">{{labelPagination}}</div>
  </div>
  <div class="col-6">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        <li class="paginate_button page-item previous disabled" *ngIf="pageNumber==1" >
          <a aria-controls="dt-basic-example" data-dt-idx="0" tabindex="0" class="page-link">
            <i class="fal fa-chevron-left"></i>
          </a>
        </li>
        <li class="paginate_button page-item previous" *ngIf="pageNumber!=1" (click)="loadPagination('prev',carteles)">
          <a aria-controls="dt-basic-example" data-dt-idx="0" tabindex="0" class="page-link">
            <i class="fal fa-chevron-left"></i>
          </a>
        </li>
        <ng-container *ngFor="let page of pageNumbersArrayActive">
          <li class="page-item active" aria-current="page" *ngIf="page.id==pageNumber">
            <span class="page-link">{{page.id}}<span class="sr-only">(current)</span></span>
          </li>
          <li class="page-item" *ngIf="page.id!=pageNumber">
            <a class="page-link" (click)="loadPagination(page.id,carteles)">{{page.id}}</a>
          </li>
        </ng-container>
        <li class="paginate_button page-item next" *ngIf="pageNumber!=pageNumbers" (click)="loadPagination('next',carteles)">
          <a aria-controls="dt-basic-example" data-dt-idx="7" tabindex="0" class="page-link">
            <i class="fal fa-chevron-right"></i>
          </a>
        </li>
        <li class="paginate_button page-item next disabled" *ngIf="pageNumber==pageNumbers">
          <a aria-controls="dt-basic-example" data-dt-idx="7" tabindex="0" class="page-link">
            <i class="fal fa-chevron-right"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="modal fade overflow-auto" data-spy="scroll" id="new-cartel-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Agregue un cartel</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body m-2">
        <div class="row mb-2">
          <label class="form-label col-4 mt-1">Típo:<b class="red">*</b></label>
          <div class="col-8">
            <select class="custom-select" [(ngModel)]="cartelTipoSelected" [class.is-invalid]="validCartelTipo==1"
                    (change)="validarTipo()">
              <ng-container *ngIf="cartelesTipos.length>0">
                <option value="0">Selecciona un tipo de cartel...</option>
                <ng-container *ngFor="let ct of cartelesTipos">
                  <option value="{{ct.id}}">{{ct.nombre}}</option>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="cartelesTipos.length==0">
                <option value="0">No hay tipos de carteles disponibles</option>
              </ng-container>
            </select>
            <div class="invalid-feedback" *ngIf="validCartelTipo==1">Este campo es obligatorio</div>
          </div>
        </div>
        <div class="row mb-2">
          <label class="form-label col-4 mt-1">Título:<b class="red">*</b></label>
          <div class="col-8">
            <input type="text" class="form-control" [class.is-invalid]="validCartelTitulo==1"
                   [(ngModel)]="cartelTitulo" (keyup)="validarTitulo()">
            <div class="invalid-feedback" *ngIf="validCartelTitulo==1">Este campo es obligatorio</div>
          </div>
        </div>
        <div class="row mb-2">
          <label class="form-label col-4 mt-1">Descripción:</label>
          <div class="col-8">
            <textarea class="form-control" rows="4" [(ngModel)]="cartelDescripcion"></textarea>
          </div>
        </div>
        <div class="row mb-2">
          <label class="form-label col-4 mt-1">URL:</label>
          <div class="col-8">
            <input type="text" class="form-control" [(ngModel)]="cartelUrl">
          </div>
        </div>
        <div class="row mb-2">
          <label class="form-label col-4 mt-1">Áreas del conocimiento:</label>
          <div class="input-group flex-nowrap col-8">
            <div class="input-group flex-nowrap">
              <select class="form-control" [(ngModel)]="cartelAreaSelected">
                <ng-container *ngIf="cartelAreasDisponibles.length!=0">
                  <option value="0">Seleccione un área del conocimiento...</option>
                  <ng-container *ngFor="let area of cartelAreasDisponibles">
                    <option value="{{area.id}}">{{area.nombre}}</option>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="cartelAreasDisponibles.length==0">
                  <option value="0">No hay áreas del conocimiento disponibles...</option>
                </ng-container>
              </select>
            </div>&nbsp;&nbsp;
            <button class="btn btn-success btn-icon" (click)="addArea()" style="width:40px"><i class="fa fa-plus"></i></button>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-4"></div>
          <div class="col-8">
            <ng-container *ngFor="let area of cartelAreas">
              <div class="alert alert-primary alert-dismissible fade show col-12 mb-2" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="removeArea(area.id)">
                  <span aria-hidden="true"><i class="fal fa-trash-alt"></i></span>
                </button>
                <strong>{{area.nombre}}</strong>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="row mb-2">
          <label class="form-label col-4 mt-1">Objetivos de desarrollo sostenible:</label>
          <div class="input-group flex-nowrap col-8">
            <div class="input-group flex-nowrap">
              <select class="form-control" [(ngModel)]="cartelODSSelected">
                <ng-container *ngIf="cartelODSDisponibles.length!=0">
                  <option value="0">Seleccione un objetivos de sutentable...</option>
                  <ng-container *ngFor="let area of cartelODSDisponibles">
                    <option value="{{area.id}}">{{area.nombre}}</option>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="cartelODSDisponibles.length==0">
                  <option value="0">No hay objetivos de desarrollo disponibles...</option>
                </ng-container>
              </select>
            </div>&nbsp;&nbsp;
            <button class="btn btn-success btn-icon" (click)="addODS()" style="width:40px"><i class="fa fa-plus"></i></button>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-4"></div>
          <div class="col-8">
            <ng-container *ngFor="let ods of cartelODS">
              <div class="alert alert-primary alert-dismissible fade show col-12 mb-2" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="removeODS(ods.id)">
                  <span aria-hidden="true"><i class="fal fa-trash-alt"></i></span>
                </button>
                <strong>{{ods.nombre}}</strong>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="row mb-2">
          <div class="form-label col-4">Lugar obtenido:</div>
          <div class="col-8">
            <select class="form-control" [(ngModel)]="cartelLugar">
              <option value="0">Selecciona un lugar obtenido...</option>
              <option value="1ro">Primer Lugar</option>
              <option value="2do">Segundo Lugar</option>
              <option value="3ro">Tercer Lugar</option>
            </select>
          </div>
        </div>
        <div class="row m-0">
          <label class="form-label"><b>Estudiantes</b><b class="red">*</b>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-success btn-icon rounded waves-effect waves-themed" data-toggle="modal"
                    data-target="#new-estudiante-modal" (click)="openNewAutoresModal()">
              <i class="fal fa-plus"></i>
            </button>
          </label>
          <table class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline border-table" role="grid"
                 aria-describedby="dt-basic-example_info" >
            <thead class="bg-primary-600 ">
            <tr role="row">
              <th class="border-tl" style="width: 200px"><i class="fa fa-user"></i>&nbsp;&nbsp;Nombre Completo</th>
              <th><i class="fa fa-school"></i>&nbsp;&nbsp;Afiliaciones</th>
              <th class="border-tr" style="width: 130px"><i class="fa fa-clone"></i>&nbsp;&nbsp;Acciones</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngIf="cartelAutores.length>0">
              <tr *ngFor="let a of cartelAutores">
                <td>{{a.nombre}}</td>
                <td>
                  <ng-container *ngFor="let aa of a.afiliaciones;let i=index">
                    <label>{{aa.institution_name}}</label><ng-container *ngIf="i>0">, <br></ng-container>
                  </ng-container>
                </td>
                <td>
                  <button type="button" class="btn btn-primary btn-icon" data-toggle="modal"
                          data-target="#view-estudiante-modal"
                          (click)="openViewAutoresModal(a)"><i class="fa fa-eye"></i>
                  </button>&nbsp;
                  <button type="button" class="btn btn-success btn-icon waves-effect waves-themed" data-toggle="modal"
                          data-target="#update-estudiante-modal"
                          (click)="openUpdateAutoresModal(a)"><i class="fas fa-edit"></i>
                  </button>&nbsp;
                  <button type="button" class="btn btn-danger btn-icon"
                          (click)="removeAutores(a.fecha)"><i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="cartelAutores.length==0">
              <tr class="odd"><td colspan="4" class="dataTables_empty" style="color:#bd0a0a;font-size:20px">No hay estudiantes que mostrar, agregue al menos uno</td></tr>
            </ng-container>
            </tbody>
          </table>
        </div>
        <div class="row m-0">
          <label class="form-label">Archivos del cartel<b class="red">*</b>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-success btn-icon rounded waves-effect waves-themed" data-toggle="modal"
                    data-target="#new-cartel-file-modal" (click)="openNewArchivosModal()">
              <i class="fal fa-plus"></i>
            </button>
          </label>
          <table class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline border-table" role="grid"
                 aria-describedby="dt-basic-example_info" >
            <thead class="bg-primary-600 ">
            <tr role="row">
              <th class="border-tl"><i class="fa fa-presentation"></i>&nbsp;&nbsp;Tipo</th>
              <th><i class="fa fa-text-height"></i>&nbsp;&nbsp;Nombre</th>
              <th><i class="fa fa-text-height"></i>&nbsp;&nbsp;Descripcion</th>
              <th class="border-tr"><i class="fa fa-clone"></i>&nbsp;&nbsp;Acciones</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngIf="this.cartelArchivos.length>0">
              <tr *ngFor="let ca of cartelArchivos">
                <td>{{ca.tipo}}</td>
                <td>{{ca.nombre}}</td>
                <td>{{ca.descripcion}}</td>
                <td>
                  <button type="button" class="btn btn-primary btn-icon" (click)="viewArchivo(ca)">
                    <i class="fa fa-file"></i>
                  </button>&nbsp;
                  <button type="button" class="btn btn-danger btn-icon" (click)="removeArchivo(ca.fecha)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="this.cartelArchivos.length==0">
              <tr class="odd"><td colspan="4" class="dataTables_empty" style="color:#0a70bd;font-size:20px">No hay archivos que mostrar</td></tr>
            </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <span>(<b class="red">*</b>) campo obligatorio&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-success" [disabled]="true"
                  *ngIf="!cartelTitulo || cartelTitulo=='' || cartelAutores.length==0 || cartelArchivos.length==0 || validCartelTipo!=0 || validCartelTitulo!=0">
            <i class="fa fa-save" ></i>&nbsp;Guardar
          </button>
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="validarFormulario()"
                  *ngIf="cartelTitulo!='' && cartelTitulo!='' && cartelAutores.length>0 && cartelArchivos.length>0 && validCartelTipo==0 && validCartelTitulo==0">
            <i class="fa fa-save" ></i>&nbsp;Guardar
          </button>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="modal fade overflow-auto" id="update-cartel-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Actualizar cartel</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mb-2">
          <label class="form-label col-4 mt-1">Típo:<b class="red">*</b></label>
          <div class="col-8">
            <select class="form-control" [(ngModel)]="cartelTipoSelected" [class.is-invalid]="validCartelTipo==1"
                    (change)="validarTipo()" [disabled]="true">
              <ng-container *ngIf="cartelesTipos.length>0">
                <option value="0">Selecciona un tipo de cartel...</option>
                <ng-container *ngFor="let ct of cartelesTipos">
                  <option value="{{ct.id}}">{{ct.nombre}}</option>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="cartelesTipos.length==0">
                <option value="0">No hay tipos de carteles disponibles</option>
              </ng-container>
            </select>
            <div class="invalid-feedback" *ngIf="validCartelTipo==1">Este campo es obligatorio</div>
          </div>
        </div>
        <div class="row mb-2">
          <label class="form-label col-4 mt-1">Título:<b class="red">*</b></label>
          <div class="col-8">
            <input type="text" class="form-control" [class.is-invalid]="validCartelTitulo==1"
                   [(ngModel)]="cartelTitulo" (keyup)="validarTitulo()">
            <div class="invalid-feedback" *ngIf="validCartelTitulo==1">Este campo es obligatorio</div>
          </div>
        </div>
        <div class="row mb-2">
          <label class="form-label col-4 mt-1">Descripción:</label>
          <div class="col-8">
            <textarea class="form-control" rows="4" [(ngModel)]="cartelDescripcion"></textarea>
          </div>
        </div>
        <div class="row mb-2">
          <label class="form-label col-4 mt-1">URL:</label>
          <div class="col-8">
            <input type="text" class="form-control" [(ngModel)]="cartelUrl">
          </div>
        </div>
        <div class="row mb-2">
          <label class="form-label col-4 mt-1"><b>Áreas del conocimiento:</b></label>
          <div class="input-group flex-nowrap col-8">
            <div class="input-group flex-nowrap">
              <select class="form-control" [(ngModel)]="cartelAreaSelected">
                <ng-container *ngIf="cartelAreasDisponibles.length!=0">
                  <option value="0">Seleccione un área del conocimiento...</option>
                  <ng-container *ngFor="let area of cartelAreasDisponibles">
                    <option value="{{area.id}}">{{area.nombre}}</option>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="cartelAreasDisponibles.length==0">
                  <option value="0">No hay áreas del conocimiento disponibles...</option>
                </ng-container>
              </select>
            </div>&nbsp;&nbsp;
            <button class="btn btn-success btn-icon" (click)="addArea()" style="width:40px"><i class="fa fa-plus"></i></button>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-4"></div>
          <div class="col-8">
            <ng-container *ngFor="let area of cartelAreas">
              <div class="alert alert-primary alert-dismissible fade show col-12 mb-2" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="removeArea(area.id)">
                  <span aria-hidden="true"><i class="fal fa-trash-alt"></i></span>
                </button>
                <strong>{{area.nombre}}</strong>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="row mb-2">
          <label class="form-label col-4 mt-1">Objetivos de desarrollo sostenible:</label>
          <div class="input-group flex-nowrap col-8">
            <div class="input-group flex-nowrap">
              <select class="form-control" [(ngModel)]="cartelODSSelected">
                <ng-container *ngIf="cartelODSDisponibles.length!=0">
                  <option value="0">Seleccione un objetivos de sutentable...</option>
                  <ng-container *ngFor="let area of cartelODSDisponibles">
                    <option value="{{area.id}}">{{area.nombre}}</option>
                  </ng-container>
                </ng-container>
                <ng-container *ngIf="cartelODSDisponibles.length==0">
                  <option value="0">No hay objetivos de desarrollo disponibles...</option>
                </ng-container>
              </select>
            </div>&nbsp;&nbsp;
            <button class="btn btn-success btn-icon" (click)="addODS()" style="width:40px"><i class="fa fa-plus"></i></button>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-4"></div>
          <div class="col-8">
            <ng-container *ngFor="let ods of cartelODS">
              <div class="alert alert-primary alert-dismissible fade show col-12 mb-2" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="removeODS(ods.id)">
                  <span aria-hidden="true"><i class="fal fa-trash-alt"></i></span>
                </button>
                <strong>{{ods.nombre}}</strong>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="row mb-2">
          <div class="form-label col-4">Lugar obtenido:</div>
          <div class="col-8">
            <select class="form-control" [(ngModel)]="cartelLugar">
              <option value="0">Selecciona un lugar obtenido...</option>
              <option value="1ro">Primer Lugar</option>
              <option value="2do">Segundo Lugar</option>
              <option value="3ro">Tercer Lugar</option>
            </select>
          </div>
        </div>
        <div class="row m-0">
          <label class="form-label"><b>Estudiantes</b><b class="red">*</b>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-success btn-icon rounded waves-effect waves-themed" data-toggle="modal"
                    data-target="#new-estudiante-modal" (click)="openNewAutoresModal()">
              <i class="fal fa-plus"></i>
            </button>
          </label>
          <table class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline border-table" role="grid"
                 aria-describedby="dt-basic-example_info" >
            <thead class="bg-primary-600 ">
            <tr role="row">
              <th class="border-tl" style="width: 200px"><i class="fa fa-user"></i>&nbsp;&nbsp;Nombre Completo</th>
              <th><i class="fa fa-school"></i>&nbsp;&nbsp;Afiliaciones</th>
              <th class="border-tr" style="width: 130px"><i class="fa fa-clone"></i>&nbsp;&nbsp;Acciones</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngIf="cartelAutores.length>0">
              <tr *ngFor="let a of cartelAutores">
                <td>{{a.nombre}}</td>
                <td>
                  <ng-container *ngFor="let aa of a.afiliaciones;let i=index">
                    <ng-container *ngIf="i>0">,<br></ng-container><label>{{aa.institution_name}}</label>
                  </ng-container>
                </td>
                <td>
                  <button type="button" class="btn btn-primary btn-icon" data-toggle="modal"
                          data-target="#view-estudiante-modal"
                          (click)="openViewAutoresModal(a)"><i class="fa fa-eye"></i>
                  </button>&nbsp;
                  <button type="button" class="btn btn-success btn-icon waves-effect waves-themed" data-toggle="modal"
                          data-target="#update-estudiante-modal"
                          (click)="openUpdateAutoresModal(a)"><i class="fas fa-edit"></i>
                  </button>&nbsp;
                  <button type="button" class="btn btn-danger btn-icon"
                          (click)="removeAutores(a.fecha)"><i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="cartelAutores.length==0">
              <tr class="odd"><td colspan="4" class="dataTables_empty" style="color:#bd0a0a;font-size:20px">No hay estudiantes que mostrar, agregue al menos uno</td></tr>
            </ng-container>
            </tbody>
          </table>
        </div>
        <div class="row m-0">
          <label class="form-label">Archivos del cartel<b class="red">*</b>&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-success btn-icon rounded waves-effect waves-themed" data-toggle="modal"
                    data-target="#new-cartel-file-modal" (click)="openNewArchivosModal()">
              <i class="fal fa-plus"></i>
            </button>
          </label>
          <table class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline border-table" role="grid"
                 aria-describedby="dt-basic-example_info" >
            <thead class="bg-primary-600 ">
            <tr role="row">
              <th class="border-tl"><i class="fa fa-presentation"></i>&nbsp;&nbsp;Tipo</th>
              <th><i class="fa fa-text-height"></i>&nbsp;&nbsp;Nombre</th>
              <th><i class="fa fa-text-height"></i>&nbsp;&nbsp;Descripcion</th>
              <th class="border-tr"><i class="fa fa-clone"></i>&nbsp;&nbsp;Acciones</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngIf="this.cartelArchivos.length>0">
              <tr *ngFor="let ca of cartelArchivos">
                <td>{{ca.tipo}}</td>
                <td>{{ca.nombre}}</td>
                <td>{{ca.descripcion}}</td>
                <td>
                  <button type="button" class="btn btn-primary btn-icon" (click)="viewArchivo(ca)">
                    <i class="fa fa-file"></i>
                  </button>&nbsp;
                  <button type="button" class="btn btn-danger btn-icon" (click)="removeArchivo(ca.fecha)">
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="this.cartelArchivos.length==0">
              <tr class="odd"><td colspan="4" class="dataTables_empty" style="color:#0a70bd;font-size:20px">No hay archivos que mostrar</td></tr>
            </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <span>(<b class="red">*</b>) campo obligatorio&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-success" [disabled]="true"
                  *ngIf="!cartelTitulo || cartelTitulo=='' || cartelAutores.length==0 || cartelArchivos.length==0 || validCartelTipo!=0 || validCartelTitulo!=0">
            <i class="fa fa-check"></i>&nbsp;Actualizar
          </button>
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="validarFormulario()"
                  *ngIf="cartelTitulo!='' && cartelTitulo!='' && cartelAutores.length>0 && cartelArchivos.length>0 && validCartelTipo==0 && validCartelTitulo==0">
            <i class="fa fa-check"></i>&nbsp;Actualizar
          </button>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="modal fade show" id="view-cartel-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Ver detalles del cartel</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-start">
          <div class="col-titulo"><label class="card-title"><i class="fal fa-text-height width-1"></i>&nbsp;Título:&nbsp;&nbsp;</label></div>
          <div class="col-contenido"><label>{{cartelTitulo}}</label></div>
        </div>
        <div class="d-flex justify-content-start">
          <div class="col-titulo"><label class="card-title"><i class="fal fa-text-width width-1"></i>&nbsp;Descripción:&nbsp;</label></div>
          <div class="col-contenido">{{cartelDescripcion}}</div>
        </div>
        <div class="d-flex justify-content-start">
          <div class="col-titulo"><p class="card-title"><i class="fal fa-link width-1"></i>&nbsp;Url:&nbsp;</p></div>
          <div class="col-contenido" style="padding-top:5px">
            <a [href]="cartelUrl" target="_blank">
              {{(cartelUrl && cartelUrl.length > 50)
              ? ((cartelUrl | slice :0:50) + '...') : cartelUrl}}
            </a>
          </div>
        </div>
        <div class="d-flex justify-content-start">
          <div class="col-titulo"><label class="card-title"><i class="fal fa-book width-1"></i>&nbsp;Áreas&nbsp;del conocimiento:&nbsp;</label></div>
          <div class="col-contenido">
            <ng-container *ngFor="let can of cartelAreas">
              <label class="mt-1">{{can.nombre}}</label><br>
            </ng-container>
          </div>
        </div>
        <div class="d-flex justify-content-start">
          <i class="fal fa-bullseye-arrow width-1 mt-1"></i>
          <div style="width:27%"><label class="card-title">Objetivos de desarrollo sostenible:&nbsp;</label></div>
          <div class="col-contenido">
            <ng-container *ngFor="let co of cartelODS">
              <label class="mt-1">{{co.nombre}}</label><br>
            </ng-container>
          </div>
        </div>
        <div class="d-flex justify-content-start">
          <div class="col-titulo"><label class="card-title"><i class="fal fa-trophy width-1"></i>&nbsp;Lugar obtenido:&nbsp;</label></div>
          <div class="col-contenido">
            <label class="mt-1" *ngIf="cartelLugar=='1ro'">Primer lugar</label>
            <label class="mt-1" *ngIf="cartelLugar=='2do'">Segundo lugar</label>
            <label class="mt-1" *ngIf="cartelLugar=='3ro'">Tercer lugar</label>
          </div>
        </div>
        <div class="d-flex justify-content-start">
          <div class="col-titulo"><p class="card-title"><i class="fal fa-users width-1"></i>&nbsp;Estudiantes:&nbsp;</p></div>
          <div class="col-contenido">
            <ng-container *ngFor="let can of cartelAutores">
              <label class="mt-1">{{can.nombre}}&nbsp;{{(can.correo)?"("+can.correo+")":""}}</label><br>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="new-estudiante-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Agregue un estudiante</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body m-2">
        <div class="row mb-2">
          <label class="form-label col-3 mt-1">Nombre:<b class="red">*</b></label>
          <div class="col-9">
            <input type="text" class="form-control" [class.is-invalid]="validCartelNombre!=0" (keyup)="validarNombre()"
                   [(ngModel)]="cartelAutorNombre" placeholder="Escribe el nombre del estudiante...">
            <div class="invalid-feedback" *ngIf="validCartelNombre==1">Campo obligatorio</div>
          </div>
        </div>
        <div class="row mb-2">
          <label class="form-label col-3 mt-1">Correo:</label>
          <div class="col-9">
            <input type="email" class="form-control" [class.is-invalid]="validCartelCorreo!=0" (keyup)="validarCorreo()"
                   [(ngModel)]="cartelAutorCorreo" placeholder="Escribe el correo del estudiante...">
            <div class="invalid-feedback" *ngIf="validCartelCorreo==1">Campo obligatorio</div>
            <div class="invalid-feedback" *ngIf="validCartelCorreo==2">Formato de correo invalido</div>
          </div>
        </div>
        <div class="row mb-2">
          <label class="form-label col-3 mt-1">Género:<b class="red">*</b></label>
          <div class="col-9" *ngIf="cartelAutorId==0">
            <div class="custom-control custom-radio mb-2 ml-2">
              <input type="radio" class="custom-control-input" id="genero7"
                     [checked]="(cartelAutorGenero=='m')" (click)="cambiarGeneroCartel('m')">
              <label class="custom-control-label" for="genero7">Hombre</label>
            </div>
            <div class="custom-control custom-radio mb-2 ml-2">
              <input type="radio" class="custom-control-input" id="genero8"
                     [checked]="(cartelAutorGenero=='f')" (click)="cambiarGeneroCartel('f')">
              <label class="custom-control-label" for="genero8">Mujer</label>
            </div>
            <div class="custom-control custom-radio mb-2 ml-2">
              <input type="radio" class="custom-control-input" id="genero9"
                     [checked]="(cartelAutorGenero=='notsaid')" (click)="cambiarGeneroCartel('notsaid')">
              <label class="custom-control-label" for="genero9">Prefiero no declararlo</label>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <label class="form-label col-3 mt-1">Puesto/Cargo:</label>
          <div class="col-9">
            <input type="text" class="form-control" [(ngModel)]="cartelAutorPuesto" placeholder="Escribe el puesto/cargo...">
          </div>
        </div>
        <div class="row mb-2">
          <label class="form-label col-12"><b>Carrera:</b></label>
          <div class="input-group col-12">
            <input type="text" class="form-control" placeholder="Buscar carrera.." [(ngModel)]="cartelAutorCarreraSearch">
            <div class="input-group-append">
              <button type="button" class="btn btn-primary waves-effect waves-themed" (click)="searchCarrera()"><i class="fal fa-search"></i></button>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <label class="form-label col-3 mt-1">Nombre de la carrera:<b class="red">*</b></label>
          <div class="col-9">
            <select class="form-control" [class.is-invalid]="validCartelCarrera!=0" (keyup)="validarCarrera()" [disabled]="cartelesProgramasEstudio.length==0"
                    [(ngModel)]="cartelAutorCarreraSelected">
              <ng-container *ngIf="cartelesProgramasEstudio.length>0">
                <option value="0">Selecciona una carrera...</option>
                <ng-container *ngFor="let cpe of cartelesProgramasEstudio">
                  <option value="{{cpe.id}}">{{cpe.nombre}} - {{cpe.id_interno_institucion}} - {{cpe.nivel_interno_institucion}}</option>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="cartelesProgramasEstudio.length==0">
                <option value="0">No hay carreras disponibles</option>
              </ng-container>
              <ng-container *ngFor="let acn of cartelAutorCarreraNombre">
                <option value="{{acn.id}}">{{acn.nombre}} - {{acn.id_interno_institucion}} - {{acn.nivel_interno_institucion}}</option>
              </ng-container>
            </select>
            <div class="invalid-feedback" *ngIf="validCartelCarrera!=0">Campo obligatorio</div>
          </div>
        </div>
        <div class="row mb-2">
          <label class="form-label col-3 mt-1">Semestre/Cuatrimestre:<b class="red">*</b></label>
          <div class="col-9">
            <select class="form-control"
                    [class.is-invalid]="validCartelSemestre!=0" (keyup)="validarSemestre()"
                    [(ngModel)]="cartelAutorNumberSemestre">
              <option value="0">Selecciona un Semestre/Cuatrimestre...</option>
              <option value="1ro">1ro</option>
              <option value="2do">2do</option>
              <option value="3ro">3ro</option>
              <option value="4to">4to</option>
              <option value="5to">5to</option>
              <option value="6to">6to</option>
              <option value="7mo">7mo</option>
              <option value="8vo">8vo</option>
              <option value="9no">9no</option>
              <option value="10mo">10mo</option>
              <option value="Otro">Otro</option>
            </select>
            <div class="invalid-feedback" *ngIf="validCartelSemestre!=0">Campo obligatorio</div>
          </div>
        </div>
        <div class="row mb-2">
          <label class="form-label col-12"><b>Afiliaciones:</b></label>
          <div class="input-group col-12">
            <input type="text" class="form-control" placeholder="Buscar instituciones..." [(ngModel)]="cartelAutorAfiliacionSearch">
            <div class="input-group-append">
              <button type="button" class="btn btn-primary waves-effect waves-themed" (click)="searchAfiliaciones()"><i class="fal fa-search"></i></button>
            </div>
          </div>
        </div>
        <div class="input-group flex-nowrap mb-2">
          <div class="input-group flex-nowrap">
            <select class="form-control" [(ngModel)]="cartelAutorAfiliacionSelected" [disabled]="(cartelAutorAfiliacionesList.length==0)">
              <ng-container *ngIf="cartelAutorAfiliacionesList.length!=0">
                <option value="0">Seleccione una institución...</option>
                <ng-container *ngFor="let afil of cartelAutorAfiliacionesList">
                  <option value="{{afil.id}}" *ngIf="afil.id!=0">{{afil.institution_name}}</option>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="cartelAutorAfiliacionesList.length==0">
                <option value="0">No hay instituciones disponibles...</option>
              </ng-container>
            </select>
          </div>&nbsp;&nbsp;
          <button class="btn btn-primary" (click)="addAfiliaciones()" style="width:130px;" [disabled]="(cartelAutorAfiliacionesList.length==0)">
            <i class="fa fa-plus"></i>&nbsp;Agregar
          </button>
        </div>
        <div class="row mb-2 border-bottom">
          <div class="col">
            <ng-container class="row" *ngFor="let afil of cartelAutorAfiliaciones">
              <div class="alert alert-primary alert-dismissible fade show col-12 mb-2" role="alert" style="margin-bottom:3px">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="removeAfiliaciones(afil.id)">
                  <span aria-hidden="true"><i class="fal fa-trash-alt"></i></span>
                </button>
                {{afil.institution_name}}
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <span>(<b class="red">*</b>) campo obligatorio&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-success" [disabled]="true"
                  *ngIf="!cartelAutorNombre || cartelAutorNombre=='' || cartelAutorCarreraSelected==0 || cartelAutorNumberSemestre==0">
            <i class="fa fa-save" ></i>&nbsp;Guardar
          </button>
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="validarAutor()"
                  *ngIf="cartelAutorNombre && cartelAutorNombre!='' && cartelAutorCarreraSelected!=0 && cartelAutorNumberSemestre!=0">
            <i class="fa fa-save" ></i>&nbsp;Guardar
          </button>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="update-estudiante-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Actualizar estudiante</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body m-2">
        <div class="row mb-2">
          <label class="form-label col-3 mt-1">Nombre:<b class="red">*</b></label>
          <div class="col-9">
            <input type="text" class="form-control" [class.is-invalid]="validCartelNombre!=0" (keyup)="validarNombre()"
                   [(ngModel)]="cartelAutorNombre" placeholder="Escribe el nombre del estudiante...">
            <div class="invalid-feedback" *ngIf="validCartelNombre==1">Campo obligatorio</div>
          </div>
        </div>
        <div class="row mb-2">
          <label class="form-label col-3 mt-1">Correo:</label>
          <div class="col-9">
            <input type="email" class="form-control" [class.is-invalid]="validCartelCorreo!=0" (keyup)="validarCorreo()"
                   [(ngModel)]="cartelAutorCorreo" placeholder="Escribe el correo del estudiante...">
            <div class="invalid-feedback" *ngIf="validCartelCorreo==1">Campo obligatorio</div>
            <div class="invalid-feedback" *ngIf="validCartelCorreo==2">Formato de correo invalido</div>
          </div>
        </div>
        <div class="row mb-2">
          <label class="form-label col-3 mt-1">Género:<b class="red">*</b></label>
          <div class="col-9" *ngIf="cartelAutorId!=0">
            <div class="custom-control custom-radio mb-2 ml-2">
              <input type="radio" class="custom-control-input" id="genero10"
                     [checked]="(cartelAutorGenero=='m')" (click)="cambiarGeneroCartel('m')">
              <label class="custom-control-label" for="genero10">Hombre</label>
            </div>
            <div class="custom-control custom-radio mb-2 ml-2">
              <input type="radio" class="custom-control-input" id="genero11"
                     [checked]="(cartelAutorGenero=='f')" (click)="cambiarGeneroCartel('f')">
              <label class="custom-control-label" for="genero11">Mujer</label>
            </div>
            <div class="custom-control custom-radio mb-2 ml-2">
              <input type="radio" class="custom-control-input" id="genero12"
                     [checked]="(cartelAutorGenero=='notsaid')" (click)="cambiarGeneroCartel('notsaid')">
              <label class="custom-control-label" for="genero12">Prefiero no declararlo</label>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <label class="form-label col-3 mt-1">Puesto/Cargo:</label>
          <div class="col-9">
            <input type="text" class="form-control" [(ngModel)]="cartelAutorPuesto" placeholder="Escribe el puesto/cargo...">
          </div>
        </div>
        <div class="row mb-2">
          <label class="form-label col-12"><b>Carrera:</b></label>
          <div class="input-group col-12">
            <input type="text" class="form-control" placeholder="Buscar carrera.." [(ngModel)]="cartelAutorCarreraSearch">
            <div class="input-group-append">
              <button type="button" class="btn btn-primary waves-effect waves-themed" (click)="searchCarrera()"><i class="fal fa-search"></i></button>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <label class="form-label col-3 mt-1">Nombre de la carrera:<b class="red">*</b></label>
          <div class="col-9">
            <select class="form-control" [class.is-invalid]="validCartelCarrera!=0" (keyup)="validarCarrera()" [disabled]="cartelesProgramasEstudio.length==0"
                    [(ngModel)]="cartelAutorCarreraSelected">
              <ng-container *ngIf="cartelesProgramasEstudio.length>0">
                <option value="0">Selecciona una carrera...</option>
                <ng-container *ngFor="let cpe of cartelesProgramasEstudio">
                  <option value="{{cpe.id}}">{{cpe.nombre}} - {{cpe.id_interno_institucion}} - {{cpe.nivel_interno_institucion}}</option>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="cartelesProgramasEstudio.length==0">
                <option value="0">No hay carreras disponibles</option>
              </ng-container>
              <ng-container *ngFor="let acn of cartelAutorCarreraNombre">
                <option value="{{acn.id}}">{{acn.nombre}} - {{acn.id_interno_institucion}} - {{acn.nivel_interno_institucion}}</option>
              </ng-container>
            </select>
            <div class="invalid-feedback" *ngIf="validCartelCarrera!=0">Campo obligatorio</div>
          </div>
        </div>
        <div class="row mb-2">
          <label class="form-label col-3 mt-1">Semestre/Cuatrimestre:<b class="red">*</b></label>
          <div class="col-9">
            <select class="form-control"
                    [class.is-invalid]="validCartelSemestre!=0" (keyup)="validarSemestre()"
                    [(ngModel)]="cartelAutorNumberSemestre">
              <option value="0">Selecciona un Semestre/Cuatrimestre...</option>
              <option value="1ro">1ro</option>
              <option value="2do">2do</option>
              <option value="3ro">3ro</option>
              <option value="4to">4to</option>
              <option value="5to">5to</option>
              <option value="6to">6to</option>
              <option value="7mo">7mo</option>
              <option value="8vo">8vo</option>
              <option value="9no">9no</option>
              <option value="10mo">10mo</option>
              <option value="Otro">Otro</option>
            </select>
            <div class="invalid-feedback" *ngIf="validCartelSemestre!=0">Campo obligatorio</div>
          </div>
        </div>
        <div class="row mb-2">
          <label class="form-label col-12"><b>Afiliaciones:</b></label>
          <div class="input-group col-12">
            <input type="text" class="form-control" placeholder="Buscar instituciones..." [(ngModel)]="cartelAutorAfiliacionSearch">
            <div class="input-group-append">
              <button type="button" class="btn btn-primary waves-effect waves-themed" (click)="searchAfiliaciones()"><i class="fal fa-search"></i></button>
            </div>
          </div>
        </div>
        <div class="input-group flex-nowrap mb-2">
          <div class="input-group flex-nowrap">
            <select class="form-control" [(ngModel)]="cartelAutorAfiliacionSelected" [disabled]="(cartelAutorAfiliacionesList.length==0)">
              <ng-container *ngIf="cartelAutorAfiliacionesList.length!=0">
                <option value="0">Seleccione una institución...</option>
                <ng-container *ngFor="let afil of cartelAutorAfiliacionesList">
                  <option value="{{afil.id}}" *ngIf="afil.id!=0">{{afil.institution_name}}</option>
                </ng-container>
              </ng-container>
              <ng-container *ngIf="cartelAutorAfiliacionesList.length==0">
                <option value="0">No hay instituciones disponibles...</option>
              </ng-container>
            </select>
          </div>&nbsp;&nbsp;
          <button class="btn btn-primary" (click)="addAfiliaciones()" style="width:130px;" [disabled]="(cartelAutorAfiliacionesList.length==0)">
            <i class="fa fa-plus"></i>&nbsp;Agregar
          </button>
        </div>
        <div class="row mb-2 border-bottom">
          <div class="col">
            <ng-container class="row" *ngFor="let afil of cartelAutorAfiliaciones">
              <div class="alert alert-primary alert-dismissible fade show col-12 mb-2" role="alert" style="margin-bottom:3px">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="removeAfiliaciones(afil.id)">
                  <span aria-hidden="true"><i class="fal fa-trash-alt"></i></span>
                </button>
                {{afil.institution_name}}
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <span>(<b class="red">*</b>) campo obligatorio&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-success" [disabled]="true"
                  *ngIf="!cartelAutorNombre || cartelAutorNombre=='' || cartelAutorCarreraSelected==0 || cartelAutorNumberSemestre==0">
            <i class="fa fa-check"></i>&nbsp;Actualizar
          </button>
          <button type="button" class="btn btn-success" data-dismiss="modal" (click)="validarAutor()"
                  *ngIf="cartelAutorNombre && cartelAutorNombre!='' && cartelAutorCarreraSelected!=0 && cartelAutorNumberSemestre!=0">
            <i class="fa fa-check"></i>&nbsp;Actualizar
          </button>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="modal fade show" id="view-estudiante-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Ver detalles del estudiante</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body m-2">
        <tr>
          <td style="width:30%;"><p class="card-title"><i class="fal fa-user width-1"></i>&nbsp;Nombre:&nbsp;&nbsp;</p></td>
          <td><label>{{cartelAutorNombre}}</label></td>
        </tr>
        <tr>
          <td><p class="card-title"><i class="fal fa-envelope width-1"></i>&nbsp;Correo:&nbsp;</p></td>
          <td><label>{{cartelAutorCorreo}}</label></td>
        </tr>
        <tr>
          <td><p class="card-title"><i class="fal fa-transgender width-1"></i>&nbsp;Género:&nbsp;</p></td>
          <td>
            <label class="mt-1" *ngIf="cartelAutorGenero=='m'">Hombre</label>
            <label class="mt-1" *ngIf="cartelAutorGenero=='f'">Mujer</label>
            <label class="mt-1" *ngIf="cartelAutorGenero=='notsaid'">Prefiero no declararlo</label>
          </td>
        </tr>
        <tr>
          <td><p class="card-title"><i class="fal fa-hospital-user width-1"></i>&nbsp;Puesto:&nbsp;</p></td>
          <td><label>{{cartelAutorPuesto}}</label></td>
        </tr>
        <tr>
          <td><p class="card-title"><i class="fal fa-hospital-user width-1"></i>&nbsp;Nombre de la carrera:&nbsp;</p></td>
          <td>
            <ng-container *ngFor="let acn of cartelAutorCarreraNombre">
              <label>{{acn.nombre}} - {{acn.id_interno_institucion}} - {{acn.nivel_interno_institucion}}</label>
            </ng-container>
          </td>
        </tr>
        <tr>
          <td><p class="card-title"><i class="fal fa-calendar-edit width-1"></i>&nbsp;Semestre/Cuatrimestre:&nbsp;</p></td>
          <td><label>{{cartelAutorNumberSemestre}}</label></td>
        </tr>
        <tr>
          <td class="d-flex justify-content-start">
            <p class="card-title d-flex justify-content-start"><i class="fal fa-school width-1"></i>&nbsp;Afiliaciones:&nbsp;</p>
          </td>
          <td>
            <label *ngFor="let can of cartelAutorAfiliaciones">{{can.institution_name}}&nbsp;{{(can.country)?"("+can.country+")":""}}<br></label>
          </td>
        </tr>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="new-cartel-file-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Agregar archivo</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="paso==1">
          <div class="form-group row">
            <label class="form-label col-4">Tipo de archivo:<b class="red">*</b></label>
            <div class="col-8">
              <select class="custom-select" [(ngModel)]="archivoTipo" (change)="cambiarTipo()">
                <option value="0">Selcciona un tipo de archivo...</option>
                <ng-container *ngFor="let ta of archivosTipos">
                  <option value="{{ta.id}}">{{ta.real}}</option>
                </ng-container>
              </select>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="paso==2">
          <div class="row mb-3">
            <label class="form-label col-3">Tipo de archivo:</label>
            <label class="form-label col-9">&nbsp;&nbsp;
              <ng-container *ngFor="let ta of archivosTipos">
                <ng-container *ngIf="ta.id==archivoTipo">
                  {{ta.real}}
                </ng-container>
              </ng-container>
            </label>
          </div>
          <div class="row mb-2">
            <label class="form-label col-3">Nombre:<b class="red">*</b></label>
            <div class="col-9">
              <input class="form-control" [(ngModel)]="archivoNombre">
            </div>
          </div>
          <div class="row mb-2">
            <label class="form-label col-3">Descripción:</label>
            <div class="col-9">
              <textarea class="form-control" [(ngModel)]="archivoDescripcion"></textarea>
            </div>
          </div>
          <div class="row mb-2">
            <label class="form-label col-3">Archivo:<b class="red">*</b></label>
            <div class="col-9">
              <div class="custom-file">
                <!-- [accept]="getValidFileType(archivoTipo)"-->
                <input type="file" class="custom-file-input" (change)="extractFileFromEvent($event)">
                <label class="custom-file-label">
                  <ng-container *ngIf="archivoFile">{{archivoFile.name}}</ng-container>
                  <ng-container *ngIf="!archivoFile">Selecciona un archivo...</ng-container>
                </label>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="modal-footer">
        <span>(<b class="red">*</b>) campo obligatorios&nbsp;&nbsp;&nbsp;&nbsp;
          <ng-container *ngIf="paso==1">
            <button class="btn btn-primary" (click)="cambiarPaso('siguiente')" [disabled]="archivoTipo==0">
              Siguiente&nbsp;<i class="fa fa-angle-right"></i>
            </button>
          </ng-container>
          <ng-container *ngIf="paso==2">
            <button class="btn btn-primary" (click)="cambiarPaso('anterior')">
              <i class="fa fa-angle-left"></i>&nbsp;Anterior
            </button>&nbsp;
            <button type="button" class="btn btn-success" data-dismiss="modal" (click)="addArchivo()"
                    [disabled]="archivoNombre=='' || !archivoFile">
              <i class="fa fa-save"></i>&nbsp;Guardar
            </button>
          </ng-container>
        </span>
      </div>
    </div>
  </div>
</div>

<app-loading-modal [show] = "loadingCount > 0"></app-loading-modal>
