.red{
  color:red;
}
.border-table{
  border-radius:3px;
}
.border-tl{
  border-top-left-radius:3px;
}
.border-tr{
  border-top-right-radius:3px;
}
.border-bl{
  border-bottom-left-radius:3px;
}
.border-br{
  border-bottom-right-radius:3px;
}
.separator{
  border-top:solid 1px grey;
}
.col-titulo{
  width:30%
}
.col-contenido{
  width:70%
}
