<div id="panel-1" class="panel">
  <div class="panel-container show">
    <div class="panel-content p-5">
      <div class="subheader">
        <h1 class="subheader-title">
          <i class='subheader-icon fal fa-users'></i>Catálogo de alumnos <span class='fw-300'></span>
        </h1>
        <div class="subheader-block">
          <button class="btn btn-success bg-green waves-effect waves-themed" type="button"
                  data-toggle="modal" data-target="#agregar-modal" (click)="abrirModalCrear()">
            <i class="fal fa-plus mr-2"></i>Agregar
          </button>
        </div>
      </div>
      <div id="dt-basic-example_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row mb-3">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="criterioBusqueda">
                <div class="input-group-prepend mr-2">
                  <button class="btn btn-primary waves-effect waves-themed b-top-r b-bot-r" type="button"
                          (click)="filtrarAlumnos(false,'filtroSearch')">
                    <i class="fal fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"></div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 d-flex justify-content-end">
            <button class="btn btn-primary bg-red waves-effect waves-themed" type="button" (click)="limpiarFiltros()">
              <i class="fal fa-ban mr-2"></i> Limpiar filtros
            </button>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <app-filtro-avanzado
              (backFilter)="recuperarSeleccionFiltroInstituciones($event)"
              [optionStringSize]="46"
              [dataLoadFunction]="filtroDataLoadInstituciones"
              [pageSize]="25"
              [iconFilter]="'fal fa-school'"
              [textoSinFiltroSeleccionado]="'Filtrar por institución...'"
              [update]="update1">
            </app-filtro-avanzado>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <app-filtro-avanzado
              (backFilter)="recuperarSeleccionFiltroProgramasEstudios($event)"
              [optionStringSize]="46"
              [dataLoadFunction]="filtroDataLoadProgramasEstudios"
              [pageSize]="25"
              [iconFilter]="'fal fa-user-graduate'"
              [textoSinFiltroSeleccionado]="'Filtrar por programa de estudio...'"
              [update]="update2">
            </app-filtro-avanzado>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <app-filtro-checkbox
              (backFilter)="cambiarFiltroProyectos($event)"
              [iconFilter]="'fal fa-briefcase'"
              [placeholder]="'Solo con proyecto'"
              [numberOption]="1"
              [update]="update3">
            </app-filtro-checkbox>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12" style="overflow-y: auto">
          <table class="table table-bordered table-hover table-striped w-100 dataTable dtr-inline b-top-l b-top-r b-bot-l b-bot-r" role="grid" aria-describedby="dt-basic-example_info" style="width: 1115px;">
            <thead class="bg-primary-600 b-top-l b-top-r">
            <tr role="row">
              <th class="sorting_asc b-top-l" tabindex="0" aria-controls="dt-basic-example" rowspan="1" colspan="1" style="width: 26%;" aria-sort="ascending">Nombre</th>
              <th class="sorting" tabindex="0" aria-controls="dt-basic-example" rowspan="1" colspan="1" style="width: 14%;">No. alumno</th>
              <th class="sorting" tabindex="0" aria-controls="dt-basic-example" rowspan="1" colspan="1" style="width: 20%;">Programa de estudios</th>
              <th class="sorting" tabindex="0" aria-controls="dt-basic-example" rowspan="1" colspan="1" style="width: 24%;">Institución</th>
              <th class="b-top-r" tabindex="0" aria-controls="dt-basic-example" rowspan="1" colspan="1" style="width: 16%;">Acciones</th>
            </tr>
            </thead>
            <tbody class="b-bot-l b-bot-r">
              <ng-container *ngFor="let ll of listaAlumnos | paginate : {
                          id: 'alumnosPagination',
                          itemsPerPage: pageSize,
                          currentPage: pageNumber,
                          totalItems: totalItems
              };let i = index">
                <tr role="row" class="odd b-bot-l b-bot-r">
                  <td class="sorting_1 dtr-control b-bot-l">{{ll.nombre}}</td>
                  <td class="sorting_1 dtr-control">
                    <ng-container *ngIf="ll.num_alumno !== null">{{ll.num_alumno}}</ng-container>
                    <ng-container *ngIf="ll.num_alumno === null">No ingresado</ng-container>
                  </td>
                  <td class="sorting_1 dtr-control">
                    <ng-container *ngIf="ll.nomb_programa !== null">{{ll.nomb_programa}}</ng-container>
                    <ng-container *ngIf="ll.nomb_programa === null">No asignado</ng-container>
                  </td>
                  <td class="sorting_1 dtr-control">
                    <ng-container *ngIf="ll.id_institucion !== null">
                      <ng-container *ngFor="let li of listaInstitucionesTotal">
                        <ng-container *ngIf="ll.id_institucion == li.id">
                          {{li.razon_social}}
                        </ng-container>
                      </ng-container>
                    </ng-container>
                    <ng-container *ngIf="ll.id_institucion === null">No asignada</ng-container>
                  </td>
                  <td class="sorting_1 dtr-control b-bot-r">
                    <button class="btn btn-icon btn-primary waves-effect waves-themed mr-1" data-toggle="modal" data-target="#consultar-modal" type="button" (click)="verInfoAlumno(ll.id)"><i class="fa fa-eye"></i></button>
                    <button class="btn btn-icon btn-success bg-green waves-effect waves-themed mr-1" data-toggle="modal" data-target="#editar-modal" type="button" (click)="abrirModalActualizar(ll)"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-icon btn-danger bg-red waves-effect waves-themed mr-1" type="button" (click)="eliminarAlumno(ll)"><i class="fa fa-trash"></i></button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-5 mt-2 mb-2">
          <div class="dataTables_info ml-2" id="dt-basic-example_info" role="status" aria-live="polite">Total de elementos: {{totalItems}} </div>
        </div>
        <div class="col-sm-12 col-md-7 d-flex flex-row-reverse">
          <pagination-controls
            id="alumnosPagination"
            previousLabel="Anterior"
            nextLabel="Siguiente"
            [responsive]=true
            (pageChange)="cambiarPagina($event)">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="consultar-modal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Detalles del alumno
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row mb-2">
          <label class="col-5 pr-2"><i class="fa fa-key width-1"></i>ID:</label>
          <label class="col-7">{{alumnoId}}</label>
        </div>
        <div class="row mb-2">
          <label class="col-5 pr-2"><i class="fa fa-user width-1"></i>Nombre:</label>
          <label class="col-7">{{alumnoNombre}}</label>
        </div>
        <div class="row mb-2">
          <label class="col-5 pr-2"><i class="fa fa-calculator width-1"></i>Número de alumno:</label>
          <label class="col-7">
            <ng-container *ngIf="alumnoNumero!=null">{{alumnoNumero}}</ng-container>
            <ng-container *ngIf="alumnoNumero==null">No ingresado</ng-container>
          </label>
        </div>
        <div class="row mb-2">
          <label class="col-5 pr-2"><i class="fa fa-school width-1"></i>Institución:</label>
          <label class="col-7">
            <ng-container *ngIf="alumnoInstitucion!=null">
              <ng-container *ngFor="let ai of listaInstitucionesTotal">
                <ng-container *ngIf="alumnoInstitucion==ai.id">
                  {{ai.razon_social}}
                </ng-container>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="alumnoInstitucion==null">No asignado</ng-container>
          </label>
        </div>
        <div class="row mb-2">
          <label class="col-5 pr-2"><i class="fa fa-book width-1"></i>Programa de estudios:</label>
          <label class="col-7">
            <ng-container *ngIf="alumnoPrograma!=null">
              <ng-container *ngFor="let lie of listaProgramaEstudiosTotal">
                <ng-container *ngIf="alumnoPrograma==lie.id">
                  {{lie.nombre}}
                </ng-container>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="alumnoPrograma==null">No asignado</ng-container>
          </label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary waves-effect waves-themed" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="agregar-modal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Ingrese los datos del alumno
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row m-2">
          <label class="col-3 mt-1">Nombre :<b style="color:red">*</b></label>
          <input type="text" class="form-control col-8" placeholder="Ingresa nombre..." [(ngModel)]="alumnoNombre">
        </div>
        <div class="row m-2">
          <label class="col-3 mt-1">No. alumno :</label>
          <input type="text" class="form-control col-8" placeholder="Ingresa número..." [(ngModel)]="alumnoNumero"
                 [ngClass]="(alumnoNumero > 9999999999)?'is-invalid':''">
        </div>
        <div class="row m-2">
          <label class="col-3 mt-1">Institución :<b style="color:red">*</b></label>
          <select class="custom-select form-control col-8" [(ngModel)]="alumnoInstitucion" (change)="filtrarProgramas()">
            <option value="0">Selecciona una institución...</option>
            <ng-container *ngFor="let ld of listaInstitucionesTotal">
              <option value="{{ld.id}}">{{ld.razon_social}}</option>
            </ng-container>
          </select>
        </div>
        <div class="row m-2">
          <label class="col-3 mt-1">Programa de estudio:</label>
          <select class="custom-select form-control col-8" [(ngModel)]="alumnoPrograma">
            <ng-container *ngIf="alumnoInstitucion==0">
              <option value="0">Selecciona primero una institución...</option>
            </ng-container>
            <ng-container *ngIf="alumnoInstitucion!=0">
              <option value="0">Selecciona un programa de estudio...</option>
            </ng-container>
            <ng-container *ngFor="let ld of listaProgramaEstudios">
              <option value="{{ld.id}}">{{ld.nombre}}</option>
            </ng-container>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <span style="margin-top:-15px">(<b style="color:red">*</b>) campo obligatorio&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-secondary waves-effect waves-themed" data-dismiss="modal">Cerrar</button>&nbsp;&nbsp;
          <button type="button" class="btn btn-success bg-green waves-effect waves-themed" data-dismiss="modal" (click)="crearAlumno()"
                  [disabled]="alumnoNombre=='' || alumnoInstitucion==0"><i class="fal fa-save mr-2"></i>Guardar
          </button>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editar-modal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          Actualice los datos del alumno
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fal fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row m-2">
          <label class="col-3 mt-1">ID:</label>
          <input type="text" class="form-control col-8" [(ngModel)]="alumnoId" readonly disabled="true">
        </div>
        <div class="row m-2">
          <label class="col-3 mt-1">Nombre:<b style="color:red">*</b></label>
          <input type="text" class="form-control col-8" placeholder="Ingresa nombre..." [(ngModel)]="alumnoNombre">
        </div>
        <div class="row m-2">
          <label class="col-3 mt-1">No. alumno:</label>
          <input type="text" class="form-control col-8" placeholder="Ingresa número..." [(ngModel)]="alumnoNumero"
                 [ngClass]="(alumnoNumero > 9999999999)?'is-invalid':''">
        </div>
        <div class="row m-2">
          <label class="col-3 mt-1">Institución:<b style="color:red">*</b></label>
          <select class="custom-select form-control col-8" [(ngModel)]="alumnoInstitucion"
                  (change)="filtrarProgramas()" [disabled]="obligatorioInstitucion">
            <option value="0">Selecciona una institución...</option>
            <ng-container *ngFor="let ld of listaInstitucionesTotal">
              <option value="{{ld.id}}">{{ld.razon_social}}</option>
            </ng-container>
          </select>
        </div>
        <div class="row m-2">
          <label class="col-3 mt-1">Programa de estudio:</label>
          <select class="custom-select form-control col-8" [(ngModel)]="alumnoPrograma">
            <ng-container *ngIf="alumnoInstitucion==0">
              <option value="0">Selecciona primero una institucion...</option>
            </ng-container>
            <ng-container *ngIf="alumnoInstitucion!=0">
              <option value="0">Selecciona un programa de estudio...</option>
            </ng-container>
            <ng-container *ngFor="let ld of listaProgramaEstudios">
              <option value="{{ld.id}}">{{ld.nombre}}</option>
            </ng-container>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <span style="margin-top:-15px">(<b style="color:red">*</b>) campo obligatorio&nbsp;&nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-secondary waves-effect waves-themed" data-dismiss="modal">Cerrar</button>&nbsp;&nbsp;
          <button type="button" class="btn btn-success bg-green waves-effect waves-themed" data-dismiss="modal" (click)="actualizarAlumno()"
                  [disabled]="alumnoNombre=='' || alumnoInstitucion==0"><i class="fal fa-check mr-2"></i>Actualizar</button>
        </span>
      </div>
    </div>
  </div>
</div>

<app-loading-modal [show] = "loadingCount > 0"></app-loading-modal>





