<div class="row align-self-center align-items-center align-content-center justify-content-center m-1 mt-3">
  <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
    <label>Pronóstico de carteles a presentar:<b class="red">*</b></label>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <input type="number" class="form-control" [class.is-invalid]="validCarteles!=0"
           [(ngModel)]="cartelesValorObjetivo" (keyup)="validarCarteles()">
    <div class="invalid-feedback" *ngIf="validCarteles==1">El campo es obligatorio.</div>
    <div class="invalid-feedback" *ngIf="validCarteles==2">El pronóstico debe de ser mayor a 0.</div>
  </div>
</div>
<div class="row align-self-center align-items-center align-content-center justify-content-center m-1 mt-3">
  <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
    <label>Pronóstico de estudiantes a participar:<b class="red">*</b></label>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <input type="number" class="form-control" [class.is-invalid]="validEstudiantes!=0"
           [(ngModel)]="estudianteValorObjetivo" (keyup)="validarEstudiantes()">
    <div class="invalid-feedback" *ngIf="validEstudiantes==1">El campo es obligatorio.</div>
    <div class="invalid-feedback" *ngIf="validEstudiantes==2">El pronóstico debe de ser mayor a 0.</div>
  </div>
</div>


