<div class="row">
  <div class="col-lg-12 col-xl-12">
    <!--Basic tables-->
    <div id="panel-1" class="panel">
      <div class="panel-hdr">
        <h2>
          Listado fuentes
        </h2>
      </div>
      <br>
      <br>

      <div class="panel-container show">
        <div class="panel-content">
          <div class="col">
            <div class="input-group input-group-md mb-g">
              <input type="text" id="simpleinput" class="form-control" placeholder="Filtro" [(ngModel)]="searchText" (keyup)="loadSources()">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fal fa-search"></i></span>
              </div>
              <button type="button" class="btn btn-primary waves-effect waves-themed" routerLink="/admin/source-form">Crear fuente</button>
            </div>
          </div>

          <h5 class="frame-heading">
            <pagination-controls
              previousLabel="Anterior"
              nextLabel="Siguiente"
              [responsive]="responsive"
              [id]="paginationId"
              (pageChange)="handlePageChange($event)"
              class="paginationStyle">
            </pagination-controls>
          </h5>
          <div class="frame-wrap">
            <table class="table m-0">
              <thead>
              <tr>
                <th>Título</th>
                <th>Publisher</th>
                <th>Detalle</th>
                <th>Eliminar</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let row of dataSource | paginate : {
                  id: paginationId,
                  itemsPerPage: pageSize,
                  currentPage: pageNumber,
                  totalItems: totalItems
                };
                let i = index">
                <th scope="row">{{row.titulo}}</th>
                <td>{{ row.publisher }}</td>
                <td>
                  <a class="btn btn-primary btn-icon waves-effect waves-themed" (click)="redirectToForm(row.id)">
                    <i class="fas fa-eye" style="color: white"></i>
                  </a></td>
                <td>
                  <a (click)="deleteSource(row.id)" class="btn btn-danger btn-icon waves-effect waves-themed">
                    <i class="fas fa-trash-alt" style="color: white"></i>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
