

<!--<div class="subheader">
  <h1 class="subheader-title">
    <i class='subheader-icon fal fa-table'></i> DataTables: <span class='fw-300'>ColReorder</span> <sup class='badge badge-primary fw-500'>ADDON</sup>
    <small>
      Create headache free searching, sorting and pagination tables without any complex configuration
    </small>
  </h1>
</div>-->
<div class="row">
  <div class="col-xl-12">
    <div id="panel-1" class="panel">

      <!--Content-->


      <div class="panel-hdr">
        <h2>
          <!--Example <span class="fw-300"><i>Table</i></span>-->
           Top de investigadores&nbsp;<span class="font-italic">(últimos 3 años)</span>
        </h2>
        <div class="panel-toolbar">
          <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
          <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
          <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
        </div>
      </div>
      <div class="panel-container show">
        <div class="panel-content">

          <div class="demo-v-spacing">
            <nav class="nav nav-pills">
              <a class="nav-item nav-link btn-lg active" href="#ranking" data-toggle="pill"><i class="fal fa-trophy-alt"></i>&nbsp; Ranking</a>
              <a class="nav-item nav-link btn-lg" href="#search" data-toggle="pill"><i class="fal fa-search"></i>&nbsp; Búsqueda</a>
            </nav>
          </div>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="ranking" role="tabpanel" aria-labelledby="home-tab">
              <br>
              <app-ranking></app-ranking>
            </div>
            <div class="tab-pane" id="search" role="tabpanel" aria-labelledby="profile-tab">
              <br>
              <app-search-adv></app-search-adv>
            </div>
          </div>


        </div>
      </div>

    </div>
  </div>
</div>




