/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.poppins {
  font-family: 'Poppins';
}

.paginationStyle /deep/ .ngx-pagination .current {
  z-index: 3;
  color: #fff;
  background-color: #886ab5;
  border-color: #886ab5;
}


